<ion-view view-title="Cedula Datos Manuales">
  <ion-content>
	<form name="formulario" id="formulario">
		<div class="list list-inset center-text">
  			<label class="item item-divider">
    			Ingrese la Cedula de forma Manual
  			</label>
		</div>

    	<div class="list list-inset">
  			<label class="item ion-pricetags item-divider">
    			Cedula
  			</label>
  			<label class="item item-input">
    			<input type="number" placeholder="Número de Cedula" id="i_cedula" name="i_cedula" ng-model="formData.i_cedula"  required>
  			</label>
		</div>

        <div class="button-enviar">
            <button class="button button-positive" type="submit" value="Siguiente" ng-disabled="formulario.$invalid" ng-click="siguiente(formData)">
                Siguiente
            </button>
        </div>
    </form>
  </ion-content>
</ion-view>
