<ion-view view-title="Resultado">
  <ion-content>

    <div class="card">
        
        <div class="item item-divider ion-pricetag">
            Datos del Invitado
        </div>
        
        <div class="item item-text-wrap ion-wineglass">
            Nombres : {{cedulamanual[0].nombre_usuario}}
        </div>

        <div class="item item-text-wrap ion-coffee">
            Apellidos: {{cedulamanual[0].apellido_usuario}}
        </div>

        <div class="item item-text-wrap ion-pound">
            Cedula: {{cedulamanual[0].ci_usuario}}
        </div>
  
    </div>

    <div class="button-enviar">
        <button class="button button-assertive" ng-click="aprobar({{cedulamanual[0].ci_usuario}})">
            Asociar
        </button>
    </div>

  </ion-content>
</ion-view>