/* Empty. Add your own CSS if you like */
.content-app{
	background: #fff;
}
	
.button-qr {
    height: 200px;
    width: 200px;
    background: #494949;
    background: -moz-linear-gradient(top, #494949 0%, #000000 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #494949), color-stop(100%, #000000));
    background: -webkit-linear-gradient(top, #494949 0%, #000000 100%);
    background: -o-linear-gradient(top, #494949 0%, #000000 100%);
    background: -ms-linear-gradient(top, #494949 0%, #000000 100%);
    background: linear-gradient(to bottom, #494949 0%, #000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#000000', GradientType=0);
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: solid 4px #00aeef;
    -moz-box-shadow:inset 0px 2px 20px -5px rgba(0, 0, 0, 0.47), 1px 15px 30px -5px rgba(0, 0, 0, 0.68);
    -webkit-box-shadow:inset 0px 2px 20px -5px rgba(0, 0, 0, 0.47), 1px 15px 30px -5px rgba(0, 0, 0, 0.68);
    box-shadow:inset 0px 2px 20px -5px rgba(0, 0, 0, 0.47), 1px 15px 30px -5px rgba(0, 0, 0, 0.68);
    text-align:center;
    text-shadow: 4px 3px 0px #000000, 9px 8px 0px rgba(0, 0, 0, 0.15);
    top: 110px;
    left: 23%;
    position: absolute;
}
.button-qr > img {
    margin-top: 10px;
}
.button-enviar{
    text-align: center;
}
.bar-side-menu{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 0px;
    background: #fff;
    border-bottom: solid #000000;
}
.icon-side-menu{
    width: 110px;
    height: 110px;
    padding: 10px;
}
#loading-bar .bar {
  background: #00aeef;
  margin-top: 44px;
  height: 2px;
  padding: 0px;
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #00aeef;
  border-left-color: #00aeef;
  width: 45px;
  height: 45px;
}
#loading-bar-spinner {
    display: block;
    position: absolute;
    z-index: 10002;
    left: 50%;
    top:50%;
    margin-left: -22.5px;
    margin-top: -22.5px;
}
#loading-bar .peg {
  -moz-box-shadow: #5f1d12 1px 0 6px 1px;
  -ms-box-shadow: #5f1d12 1px 0 6px 1px;
  -webkit-box-shadow: #5f1d12 1px 0 6px 1px;
  box-shadow: #5f1d12 1px 0 6px 1px;
}